<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.zhxy.mapper.MenuMapper">
    <!-- List<Menu> getAllMenu(); -->
    <resultMap id="MenuResultMap" type="menu">
        <id property="id" column="id"/>
        <result property="pattern" column="pattern"/>
        <collection property="roles" ofType="Role">
            <id column="id" property="id"/>
            <result column="name" property="name"/>
            <result column="name_zh" property="nameZh"/>
        </collection>
    </resultMap>
    <select id="getAllMenu" resultMap="MenuResultMap" parameterType="string">
        select m.*, r.id, r.name, r.name_zh
        from menu m
                 left join menu_role mr on m.id = mr.mid
                 left join role r on r.id = mr.rid
    </select>
</mapper>